@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}
main{
  background-color:red;
  width: 650px;
  margin: auto;
  padding: 20px;
}
main article{
  width: 200px;
  height: 200px;
  background-color: yellow;
  display: inline-block;
}
main article div {
  width: 200px;
  height: 200px;
  background-color: rgb(8, 77, 109);
  display: inline-block;
  border-radius: 50%;
}
nav{
  background-color: green;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: red;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.active{
  background-color: blue;
}
main aside{
margin: 0px 50px;
}
main aside section{
  margin: 2px 6px;
  height: 250px;
  width: 250px;
  display: inline-block;
  background-color: yellow;
}
main aside section footer{
  margin: 2px 6px;
  height: 230px;
  width: 230px;
  display: inline-block;
  background-color: rgb(8, 77, 109);
  border-radius: 50%;
}
main section{
  width: 575px;
  height: 450px;
  margin: 2px;
  background-color: yellow;
  list-style: none;
  
}
main section li{
  width: 150px;
  height: 420px;
  margin: 15px;
  display: inline-block;
  background-color: aqua;
}
main section li nav{
width: 110px;
height: 110px;
background-color: rgb(44, 7, 7);
margin: 15px;
}
main section li footer{
  width: 110px;
  height: 390px;
  margin: 15px;
  background-color: rgb(44, 7, 7);
  border-radius: 25%;
  padding: 0px 4px;
  }
  main section li article{
    width: 110px;
    height: 110px;
    background-color: rgb(44, 7, 7);
    border-radius: 50%;
    margin: 15px;
    }
  .pagina2{
    width: 800px;
    background-color: rgb(47, 255, 28);
    margin: auto;
    padding: 25px;
  
  }
  .pagina2>article{
    width: 360px;
    height: 360px;
    background-color: darkgray;
    display: inline-block;
    margin: 15px;
  }
  .pagina2>article>div{
    width: 160px;
    height: 160px;
    background-color: brown;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
  }
  .pagina2>aside{
    width: 400px;
    height: 200px;
    background-color: darkgray;
    margin: 20px auto;
    padding: 50px 0px;
  }

  .pagina2>aside>nav{
    width: 180px;
    height: 180px;
    background-color: brown;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
  }
  .pagina2>footer>li{
    width: 130px;
    height: 250px;
    background-color: darkgray;
    margin: 15px ;
    display: inline-block;
    list-style: none;
  }
  .pagina2>footer>li>div{
    width: 90px;
    height: 220px;
    background-color: brown; 
    border-radius: 75%;
    margin: 15px ;
    
  }
  .pagina2>footer>section{
    width: 250px;
    height: 250px;
    background-color: darkgray;
    display: inline-block;
    list-style: none;
    padding: 7px 0 0 0 ;
  }
  .pagina2>footer>section>nav{
    width: 70px;
    height: 75px;
    background-color: brown;
    display: inline-block;
    border-radius: 50%;
    margin: 16px;
    padding: 10px;
  }
  
.
  

