@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}
main{
  background-color:red;
  width: 650px;
  margin: auto;
  padding: 20px;
}
main article{
  width: 200px;
  height: 200px;
  background-color: yellow;
  display: inline-block;
}
main article div {
  width: 200px;
  height: 200px;
  background-color: rgb(8, 77, 109);
  display: inline-block;
  border-radius: 50%;
}
nav{
  background-color: green;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: red;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.active{
  background-color: blue;
}
main aside{
margin: 0px 50px;
}
main aside section{
  margin: 2px 6px;
  height: 250px;
  width: 250px;
  display: inline-block;
  background-color: yellow;
}
main aside section footer{
  margin: 2px 6px;
  height: 230px;
  width: 230px;
  display: inline-block;
  background-color: rgb(8, 77, 109);
  border-radius: 50%;
}
main section{
  width: 575px;
  height: 450px;
  margin: 2px;
  background-color: yellow;
  list-style: none;
  
}
main section li{
  width: 150px;
  height: 420px;
  margin: 15px;
  display: inline-block;
  background-color: aqua;
  vertical-align: top;
}
main section li nav{
width: 110px;
height: 110px;
background-color: rgb(44, 7, 7);
margin: 15px;
}
main section li footer{
  width: 110px;
  height: 390px;
  margin: 15px;
  background-color: rgb(44, 7, 7);
  border-radius: 25%;
  padding: 0px 4px;
  }
  main section li article{
    width: 110px;
    height: 110px;
    background-color: rgb(44, 7, 7);
    border-radius: 50%;
    margin: 15px;
    }
  .pagina2{
    width: 800px;
    background-color: rgb(47, 255, 28);
    margin: auto;
    padding: 25px;
  
  }
  .pagina2>article{
    width: 360px;
    height: 360px;
    background-color: darkgray;
    display: inline-block;
    margin: 15px;
  }
  .pagina2>article>div{
    width: 160px;
    height: 160px;
    background-color: brown;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
  }
  .pagina2>aside{
    width: 400px;
    height: 200px;
    background-color: darkgray;
    margin: 20px auto;
    padding: 50px 0px;
  }

  .pagina2>aside>nav{
    width: 180px;
    height: 180px;
    background-color: brown;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
  }
  .pagina2>footer>li{
    width: 130px;
    height: 250px;
    background-color: darkgray;
    margin: 15px ;
    display: inline-block;
    list-style: none;
  }
  .pagina2>footer>li>div{
    width: 90px;
    height: 220px;
    background-color: brown; 
    border-radius: 75%;
    margin: 15px ;
    
  }
  .pagina2>footer>section{
    width: 250px;
    height: 250px;
    background-color: darkgray;
    display: inline-block;
    list-style: none;
    padding: 7px 0 0 0 ;
  }
  .pagina2>footer>section>nav{
    width: 70px;
    height: 75px;
    background-color: brown;
    display: inline-block;
    border-radius: 50%;
    margin: 16px;
    padding: 10px;
  }
.pagina3{
  background-color: yellow;
  width: 780px;
  height: 950px;
  margin: 10px auto;
}
.pagina3 main{
  background-color: rgb(126, 255, 41);
  width: 325px;
  height: 250px;
  display:inline-block;
  margin: 15px;
  padding: 15px;
}
.pagina3 main article{
  background-color: rgb(72, 134, 31);
  width: 305px;
  height: 235px;
  display:inline-block;
  padding: 15px 0px 0px 15px;
}
.pagina3 main article footer{
  background-color: rgb(110, 201, 178);
  width: 290px;
  height: 220px;
  display:inline-block;
  vertical-align: top;
}
.pagina3 main article footer li{
  background-color: rgb(12, 140, 190);
  width: 74px;
  height: 74px;
  display:inline-block;
  margin: 20px 10px 10px 10px;
  border-radius:50%; 
  list-style: none;
}
.pagina3 main article footer a{
  background-color: rgb(12, 140, 190);
  width: 74px;
  height: 74px;
  display:inline-block;
  margin: 20px 10px 10px 10px;
  list-style: none;
}
.pagina3 aside{
  background-color: red;
  width: 705px;
  height: 250px;
  display:inline-block;
  margin: 15px;
  padding: 20px;
}  
.pagina3 aside article{
  background-color: rgb(243, 154, 53);
  width: 685px;
  height: 230px;
  display:inline-block;
  padding: 20px 0px 0px 20px;
}
.pagina3 aside article h1{
  background-color: rgb(39, 185, 19);
  width: 230px;
  height: 190px;
  display:inline-block;
  padding: 20px 0px 0px 20px;
  vertical-align: top;
}
.pagina3 aside article h2{
  background-color: rgb(39, 185, 19);
  width: 185px;
  height: 190px;
  display:inline-block;
  padding: 20px 0px 0px 20px;
  margin: 0 0 0 20px;
  vertical-align: top;
}
.pagina3 aside article h3{
  background-color: rgb(39, 185, 19);
  width: 140px;
  height: 190px;
  display:inline-block;
  padding: 20px 0px 0px 20px;
  margin: 0 0 0 20px;
  vertical-align: top;
}
.pagina3 aside article h1 div{
  background-color: rgb(10, 39, 6);
  width: 80px;
  height: 160px;
  display:inline-block;
  border-radius: 60%;
  padding: 20px 0px 0px 20px;
}
.pagina3 aside article h2 nav{
  background-color: rgb(10, 39, 6);
  width: 145px;
  height: 65px;
  border-radius: 60%;
  padding: 20px 0px 0px 20px;
  margin: 0 0 5px 0;
}
.pagina3 aside article h3 li{
  background-color: rgb(10, 39, 6);
  width: 74px;
  height: 74px;
  display:inline-block;
  margin: 5px 10px 10px 20px;
  border-radius:50%; 
  list-style: none;
}
.pagina3 aside article section{
  background-color:  rgb(39, 185, 19);
  width: 625px;
  height: 170px;
  padding: 20px;
}
.pagina3 aside article section footer{
  background-color:  rgb(18, 73, 50);
  width: 585px;
  height: 130px;
  padding: 20px;
}

.pagina3 aside article section footer li{
  background-color: rgb(12, 140, 190);
  width: 100px;
  height: 100px;
  display:inline-block;
  margin: 15px 6px;
  border-radius:50%; 
  list-style: none;
}
.pagina4{
  background-color: black;
  width: 805px;
  height: 890px;
  margin: 10px auto;
}
.pagina4 aside{
background-color: yellow;
width: 120px;
height: 220px;
margin: 15px 0 0 15px;
display:inline-block;
}
.pagina4 aside div{
  background-color: rgb(10, 39, 6);
  width: 75px;
  height: 75px;
  margin: 15px 10px 40px 23px;
  border-radius:50%; 
}
.pagina4 aside nav{
  background-color: rgb(10, 39, 6);
  width: 90px;
  height: 200px;
  margin: 12px 12px 12px 15px;
  border-radius:50%; 
}

.pagina4 ul{
  background-color: yellow;
  width: 80px;
  height: 220px;
  margin: 15px 0 0 15px;
  display:inline-block;
  }
.pagina4 article{
  background-color: yellow;
  width: 260px;
  height: 220px;
  margin: 15px 0 0 15px;
  display:inline-block;
  vertical-align: top;
}
.pagina4 article footer{
  background-color: rgb(29, 202, 255);
  width: 230px;
  height: 50px;
  margin: 15px 0 0 15px;
  padding: 1px 0 0 0;
}
.pagina4 article footer nav{
  background-color: blueviolet;
  width: 210px;
  height: 30px;
  margin: 10px 0 0 10px;
  border-radius:50%;
}
.pagina4 article aside{
  background-color: rgb(29, 202, 255);
  width: 105px;
  height: 130px;
  margin: 12px 0 0 15px;
}
.pagina4 article aside nav{
  background-color: blueviolet;
  width: 60px;
  height: 120px;
  margin: 5px 0 0 20px;
}
.pagina4 article aside div{
  background-color: blueviolet;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 7px 0 0 25px;
}
.pagina4 section{
  background-color: yellow;
  width: 495px;
  height: 220px;
  margin: 15px 0 0 15px;
  display:inline-block;
}
.pagina4 section article{
  background-color: orangered;
  width: 465px;
  height: 190px;
  margin: 15px 0 0 15px;
}
.pagina4 section article main{
  background-color: teal;
  width: 395px;
  height: 120px;
  margin: 15px 0 0 15px;
}
.pagina4 section article main li{
  background-color: darkgreen;
  width: 115px;
  height: 120px;
  margin: 0 10px 0 4px;
  display: inline-block;
  list-style: none;
}
.pagina4 section article main li div{
  background-color:black;
  width: 80px;
  height: 80px;
  margin: 20px 0 0 17px;
  border-radius: 50px;
}
.pagina4 footer{
  background-color: yellow;
  width: 238px;
  height: 220px;
  display:inline-block;
  margin: 15px 0px 0 15px;
  vertical-align: top;
}
.pagina4 footer h1{
  background-color: green;
  width: 208px;
  height: 189px;
  margin: 15px 0px 0 15px;
  padding: 1px 0 0 0;
}
.pagina4 footer h1 article{
  background-color: darkorchid;
  width: 160px;
  height: 70px;
  margin: 20px 0px 0 24px;
}
.pagina4 footer h1 article nav{
  background-color: darkorange;
  width: 60px;
  height: 60px;
  margin: 5px 0px 0 50px;
  border-radius: 60px;
}
.pagina4 footer h1 aside{
  background-color: darkorchid;
  width: 160px;
  height: 70px;
  margin: 15px 0px 0 24px;
  border-radius: 60px;
}
.pagina4 h4{
  background-color:yellow;
  width: 260px;
  height: 220px;
  display:inline-block;
  margin: 15px 0px 0 15px;
}
.pagina4 h4 a{
  background-color: green;
  width: 230px;
  height: 190px;
  display: inline-block;
  margin: 15px 0px 0 15px;
}
.pagina4 h4 a ol{
  background-color: darkorchid;
  width: 190px;
  height: 80px;
  margin: 5px 0px 0 15px;
  padding: 1px 0 0 0;
}
.pagina4 h4 a ul{
  background-color: darkorchid;
  width: 190px;
  height: 70px;
  margin: 15px 0px 0 15px;
  border-radius: 50%;
}

.pagina4 h4 a ol nav{
  background-color: darkorange;
  width: 70px;
  height: 70px;
  margin: 5px 0px 0 60px;
  border-radius: 50px;
}
.pagina4 footer h1 div{
  background-color: darkorange;
  width: 190px;
  height: 180px;
  border-radius: 50%;
  margin: 5px 0 0 10px;

}
.pagina4 h6{
  background-color: yellow;
  width: 775px;
  height: 150px;
  margin: 15px 0px 0px 15px;
}
.pagina4 h6 nav{
  background-color: green;
  width: 135px;
  height: 120px;
  margin: 15px 0px 0 15px;
  display:inline-block;
}
.pagina4 h6 nav li{
  background-color: darkorange;
  width: 80px;
  height: 80px;
  margin: 22px 0px 0px 28px;
  border-radius: 50%;
  list-style: none;
}
.pagina4 h6 nav div{
  background-color: rgb(75, 19, 9);
  width: 120px;
  height: 52px;
  margin: 5px 0px 0px 5px;
  border-radius: 60%;
}

/*pagina 5*/


.pagina5{
  background-color: maroon;
  width: 800px;
  height: 970px;
  margin: 15px auto;

}
.pagina5 main{
  background-color: rgb(214, 228, 24);
  width: 230px;
  height: 700px;
  margin: 20px -4px 0 20px;
  display: inline-block;
  padding:  0px;
  vertical-align: top;
}
.pagina5 main article{
  background-color: blue;
  width: 90px;
  height: 150px;
  margin: 20px -4px 0 20px;
  display: inline-block; 
  vertical-align: top;
}
.pagina5 main div{
  background-color: blue;
  width: 80px;
  height: 150px;
  margin: 20px -4px 0 20px;
  display: inline-block; 
  vertical-align: top;
}
.pagina5 main article li{
  background-color: black;
  width: 55px;
  height: 55px;
  margin: 13px 0px 0 18px;
  border-radius: 50%;
  list-style: none;
}

.pagina5 main div nav{
  background-color: black;
  width: 60px;
  height: 120px;
  margin: 15px 0px 0 10px;
  border-radius: 50%;
  list-style: none;
}
.pagina5 main aside{
  background-color: blue;
  width: 190px;
  height: 90px;
  margin: 20px 0px 0 20px;
}
.pagina5 main aside li{
  background-color: black;
  width: 60px;
  height: 60px;
  margin: 15px 0px 0 21px;
  border-radius: 50%;
  list-style: none;
  display: inline-block;
}
.pagina5 main div a{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 15px 0px 0 15px;
  border-radius: 50%;
  display: inline-block;
}

.pagina5 main ul{
  background-color: blue;
  width: 190px;
  height: 210px;
  margin: 20px 0px 0 20px;
}
.pagina5 main ul li{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 10px 0px 0 30px;
  border-radius: 50%;
  list-style: none;
  display:inline-block;
}
.pagina5 main ul nav{
   background-color: black;
  width: 50px;
  height: 40px;
  margin: 10px 0 0 70px;
  display:inline-block;
}
.pagina5 main ul div{
  background-color: black;
 width: 120px;
 height: 60px;
 margin: 10px 0 0 35px;
 display:inline-block;
}
.pagina5 footer{
  background-color: rgb(214, 228, 24);
  width: 260px;
  height: 700px;
  margin: 20px -4px 0 20px;
  display: inline-block;
  padding:  0px;
  vertical-align: top;
}
.pagina5 footer ul{
  background-color: blue;
  width: 220px;
  height: 210px;
  margin: 20px 0px 0 20px;
}
.pagina5 footer ul li{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 10px 0px 0 40px;
  border-radius: 50%;
  list-style: none;
  display:inline-block;
}
.pagina5 footer ul nav{
   background-color: black;
  width: 40px;
  height: 50px;
  margin: 10px 0 0 90px;
  display:inline-block;
}
.pagina5 footer ul div{
  background-color: black;
 width: 150px;
 height: 60px;
 margin: 5px 0 0 35px;
 display:inline-block;
}
.pagina5 footer article{
  background-color: blue;
  width: 100px;
  height: 180px;
  margin: 20px -4px 0 20px;
display: inline-block;
}
.pagina5 footer article p{
  background-color: black;
  width: 70px;
  height: 70px;
  margin: 13px 0px 0 15px;
  border-radius: 50%;
}
.pagina5 footer aside{
  background-color: blue;
  width: 220px;
  height: 100px;
  margin: 20px 0px 0 20px;
}
.pagina5 footer aside li{
  background-color: black;
  width: 70px;
  height: 70px;
  margin: 15px 0px 0 25px;
  border-radius: 50%;
  list-style: none;
  display: inline-block;
}
.pagina5 footer ol{
  background-color: blue;
  width: 100px;
  height: 105px;
  margin: 20px -4px 0 20px;
  display:inline-block;
}

.pagina5 aside{
  background-color: rgb(214, 228, 24);
  width: 760px;
  height: 210px;
  margin: 20px 0 0 20px;
}